:root {
  background-color: var(--background-1);
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  transition: all 0.3s ease-out;
}

.header {
  max-width: 800px;
  width: 100%;
  height: 64px;
  padding: 16px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.app-nav-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
  gap: 16px;
}

.container {
  padding: 0 20px;
  gap: 16px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container {
  margin-bottom: 80px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.app-container {
  margin-bottom: 80px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.leaderboard-container {
  margin-bottom: 80px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.table-container {
  overflow: auto;
}

.settings-form-container {
  margin-bottom: 80px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-container {
  margin-top: 64px;
  margin-bottom: 80px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.files-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.files-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.workouts-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.title-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px;
}

.link-wrap {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  color: var(--neutral-12);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

a:hover {
  opacity: 0.82;
}

form > button {
  margin-top: 16px;
}

.avatarPreview {
  width: 64px;
  height: 64px;
}

.avatarPreview > img {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  object-fit: cover;
}

.avatar-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logo-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.logo-button > svg {
  fill: var(--neutral-12);
}

.logo-button:hover > svg {
  opacity: 70%;
}

.logo-button:active > svg {
  height: 28px;
  width: 28px;
}
