:root {
  background-color: var(--background-1);
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */

}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  transition: all 0.3s ease-out;

}

.header {
  max-width: 1080px;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.container {
  padding: 0 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container {
  margin-top: 16px;
  margin-bottom: 80px;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.form-container {
  margin-top: 64px;
  margin-bottom: 80px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px;
}

.link-wrap {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  color: var(--neutral-12);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

a:hover {
  opacity: 0.82;
}

form>button {
  margin-top: 16px;
}