.loading {
  border: none;
  background-color: var(--neutral-alpha-3);
  color: var(--neutral-alpha-8);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  height: 40px;
  border-radius: 8px;
  padding: 0 8px;
}

.variant-solid-neutral {
  background-color: var(--neutral-12);
  border: none;
  color: var(--neutral-1);
}
.variant-solid-neutral:hover {
  opacity: 0.82;
}

.variant-soft-neutral {
  background-color: var(--neutral-3);
  border: none;
  color: var(--neutral-12);
}

.variant-soft-neutral:hover {
  background-color: var(--neutral-4);
}

.variant-link-neutral {
  background: none;
  border: none;
  color: var(--neutral-12);
  padding-left: 0px;
}
.variant-link-neutral:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--neutral-11);
}

.variant-dropdown {
  color: var(--neutral-12);
  padding-left: 8px;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
}
.variant-dropdown:hover {
  background-color: var(--neutral-alpha-3);
}

.size-1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  height: 24px;
  border-radius: 4px;
}
.size-2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  height: 32px;
  border-radius: 6px;
}
.size-3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  height: 40px;
  border-radius: 8px;
  padding: 0 8px;
}
