:root {
    /* baseColors */

    /*basic*/
    --colors-basic-black: #000000;
    --colors-basic-white: #ffffff;

     /*electric*/
    --colors-electric-1: #fdfefe;
    --colors-electric-10: #3a63cc;
    --colors-electric-11: #3559b2;
    --colors-electric-12: #102046;
    --colors-electric-2: #f8fbff;
    --colors-electric-3: #f0f5ff;
    --colors-electric-4: #e6eefe;
    --colors-electric-5: #d9e3fc;
    --colors-electric-6: #c6d6f9;
    --colors-electric-7: #aec4f5;
    --colors-electric-8: #8da9ef;
    --colors-electric-9: #3e6add;
    --colors-electric-alpha-1: #369b9b03;
    --colors-electric-alpha-10: #0238c0c7;
    --colors-electric-alpha-11: #012d9dcc;
    --colors-electric-alpha-12: #01123cf0;
    --colors-electric-alpha-2: #147aff08;
    --colors-electric-alpha-3: #0558ff0f;
    --colors-electric-alpha-4: #0555f51a;
    --colors-electric-alpha-5: #0245ed26;
    --colors-electric-alpha-6: #074de43b;
    --colors-electric-alpha-7: #0248de52;
    --colors-electric-alpha-8: #023fd973;
    --colors-electric-alpha-9: #013cd0c2;

    /*geranium*/
    --colors-geranium-1: #fffcfc;
    --colors-geranium-10: #d93d42;
    --colors-geranium-11: #c62a2f;
    --colors-geranium-12: #641723;
    --colors-geranium-2: #fff7f7;
    --colors-geranium-3: #ffefef;
    --colors-geranium-4: #ffe5e5;
    --colors-geranium-5: #fdd8d8;
    --colors-geranium-6: #f9c6c6;
    --colors-geranium-7: #f3aeaf;
    --colors-geranium-8: #eb9091;
    --colors-geranium-9: #e5484d;
    --colors-geranium-alpha-1: #ff050503;
    --colors-geranium-alpha-10: #cd0008c2;
    --colors-geranium-alpha-11: #bb0007d5;
    --colors-geranium-alpha-12: #55000de8;
    --colors-geranium-alpha-2: #ff050508;
    --colors-geranium-alpha-3: #ff010110;
    --colors-geranium-alpha-4: #ff00001a;
    --colors-geranium-alpha-5: #f2000027;
    --colors-geranium-alpha-6: #e4010139;
    --colors-geranium-alpha-7: #d9000351;
    --colors-geranium-alpha-8: #d100036f;
    --colors-geranium-alpha-9: #db0007b7;

    /*leaf*/
    --colors-leaf-1: #fbfefb;
    --colors-leaf-10: #3d9a50;
    --colors-leaf-11: #297c3b;
    --colors-leaf-12: #203c25;
    --colors-leaf-2: #f3fcf3;
    --colors-leaf-3: #ebf9eb;
    --colors-leaf-4: #dff3df;
    --colors-leaf-5: #ceebcf;
    --colors-leaf-6: #b7dfba;
    --colors-leaf-7: #97cf9c;
    --colors-leaf-8: #65ba75;
    --colors-leaf-9: #46a758;
    --colors-leaf-alpha-1: #05c00504;
    --colors-leaf-alpha-10: #007a19c2;
    --colors-leaf-alpha-11: #006316d6;
    --colors-leaf-alpha-12: #002006df;
    --colors-leaf-alpha-2: #05c0050c;
    --colors-leaf-alpha-3: #02b30214;
    --colors-leaf-alpha-4: #01a00120;
    --colors-leaf-alpha-5: #01970631;
    --colors-leaf-alpha-6: #018e0b48;
    --colors-leaf-alpha-7: #008a0c68;
    --colors-leaf-alpha-8: #008d1a9a;
    --colors-leaf-alpha-9: #008619b9;

    /*midnight*/
    --colors-midnight-1: #fcfcfd;
    --colors-midnight-10: #7e808a;
    --colors-midnight-11: #60646c;
    --colors-midnight-12: #1f2327;
    --colors-midnight-2: #f9f9fb;
    --colors-midnight-3: #f2f2f5;
    --colors-midnight-4: #ebebef;
    --colors-midnight-5: #e4e4e9;
    --colors-midnight-6: #dddde3;
    --colors-midnight-7: #d3d4db;
    --colors-midnight-8: #b9bbc6;
    --colors-midnight-9: #8b8d98;
    --colors-midnight-alpha-1: #05055803;
    --colors-midnight-alpha-10: #00041881;
    --colors-midnight-alpha-11: #0007139f;
    --colors-midnight-alpha-12: #000509e3;
    --colors-midnight-alpha-2: #05055806;
    --colors-midnight-alpha-3: #00003b0d;
    --colors-midnight-alpha-4: #02023414;
    --colors-midnight-alpha-5: #0000301b;
    --colors-midnight-alpha-6: #01012e22;
    --colors-midnight-alpha-7: #01062f2c;
    --colors-midnight-alpha-8: #00082f46;
    --colors-midnight-alpha-9: #00041d74;

    /*sand*/
    --colors-sand-1: #fefdfb;
    --colors-sand-10: #ffba1a;
    --colors-sand-11: #915930;
    --colors-sand-12: #4f3422;
    --colors-sand-2: #fff9ed;
    --colors-sand-3: #fff3d0;
    --colors-sand-4: #ffecb7;
    --colors-sand-5: #ffe0a1;
    --colors-sand-6: #f5d08c;
    --colors-sand-7: #e4bb78;
    --colors-sand-8: #d6a35c;
    --colors-sand-9: #ffc53d;
    --colors-sand-alpha-1: #c0820504;
    --colors-sand-alpha-10: #ffb301e5;
    --colors-sand-alpha-11: #783200cf;
    --colors-sand-alpha-12: #341500dd;
    --colors-sand-alpha-2: #ffaa0112;
    --colors-sand-alpha-3: #ffbf012f;
    --colors-sand-alpha-4: #ffbb0148;
    --colors-sand-alpha-5: #feaa015e;
    --colors-sand-alpha-6: #e9970073;
    --colors-sand-alpha-7: #cc7e0087;
    --colors-sand-alpha-8: #bf7000a3;
    --colors-sand-alpha-9: #ffb200c2;

    /*violet*/
    --colors-violet-1: #fdfdfe;
    --colors-violet-10: #613acc;
    --colors-violet-11: #5635b2;
    --colors-violet-12: #1e1046;
    --colors-violet-2: #f9f8ff;
    --colors-violet-3: #f3f0ff;
    --colors-violet-4: #ebe6fe;
    --colors-violet-5: #e2d9fc;
    --colors-violet-6: #d2c6f9;
    --colors-violet-7: #bfaef5;
    --colors-violet-8: #a78def;
    --colors-violet-9: #693edd;
    --colors-violet-alpha-1: #36369b03;
    --colors-violet-alpha-10: #3102c0c7;
    --colors-violet-alpha-11: #2b019dcc;
    --colors-violet-alpha-12: #11013cf0;
    --colors-violet-alpha-2: #3414ff08;
    --colors-violet-alpha-3: #3705ff0f;
    --colors-violet-alpha-4: #3505f51a;
    --colors-violet-alpha-5: #3d02ed26;
    --colors-violet-alpha-6: #3a07e43b;
    --colors-violet-alpha-7: #3602de52;
    --colors-violet-alpha-8: #3c02d973;
    --colors-violet-alpha-9: #3801d0c2;

    /*overlays*/
    --overlays-black-1: #00000003;
    --overlays-black-10: #0000007f;
    --overlays-black-11: #0000009b;
    --overlays-black-12: #000000df;
    --overlays-black-2: #00000006;
    --overlays-black-3: #0000000e;
    --overlays-black-4: #00000014;
    --overlays-black-5: #0000001b;
    --overlays-black-6: #00000023;
    --overlays-black-7: #0000002b;
    --overlays-black-8: #00000044;
    --overlays-black-9: #00000072;
    --overlays-white-1: #ffffff00;
    --overlays-white-10: #ffffff74;
    --overlays-white-11: #ffffffa9;
    --overlays-white-12: #ffffffec;
    --overlays-white-2: #ffffff03;
    --overlays-white-3: #ffffff12;
    --overlays-white-4: #ffffff1b;
    --overlays-white-5: #ffffff22;
    --overlays-white-6: #ffffff2b;
    --overlays-white-7: #ffffff37;
    --overlays-white-8: #ffffff50;
    --overlays-white-9: #ffffff5f;

    /*support*/
    --support-alternative-shadow-dark: #00000000;
    --support-alternative-shadow-light: #0000000f;
    --support-bg-1: var(--colors-basic-white);
    --support-bg-2: var(--colors-midnight-1);
    --support-bg-3: var(--colors-midnight-2);
    --support-bg-4: var(--colors-midnight-3);
    --support-bg-reverse-1: var(--colors-basic-white);
    --support-bg-reverse-2: var(--colors-midnight-1);
    --support-bg-reverse-3: var(--colors-midnight-2);
    --support-bg-reverse-4: var(--colors-midnight-3);
    --support-pn-1: var(--colors-basic-white);
    --support-pn-2: var(--colors-midnight-1);
    --support-pn-3: var(--colors-midnight-2);
    --support-pn-4: var(--colors-midnight-3);
    --support-pn-reverse-1: var(--colors-basic-white);
    --support-pn-reverse-2: var(--colors-midnight-1);
    --support-pn-reverse-3: var(--colors-midnight-2);
    --support-pn-reverse-4: var(--colors-midnight-3);
    --support-pn-transparent-1: var(--overlays-white-1);
    --support-pn-transparent-10: var(--overlays-white-10);
    --support-pn-transparent-11: var(--overlays-white-11);
    --support-pn-transparent-12: var(--overlays-white-12);
    --support-pn-transparent-2: var(--overlays-white-2);
    --support-pn-transparent-3: var(--overlays-white-3);
    --support-pn-transparent-4: var(--overlays-white-4);
    --support-pn-transparent-5: var(--overlays-white-5);
    --support-pn-transparent-6: var(--overlays-white-6);
    --support-pn-transparent-7: var(--overlays-white-7);
    --support-pn-transparent-8: var(--overlays-white-8);
    --support-pn-transparent-9: var(--overlays-white-9);



    /* themeColors */

    --accent-1: var(--colors-electric-1);
    --accent-10: var(--colors-electric-10);
    --accent-11: var(--colors-electric-11);
    --accent-12: var(--colors-electric-12);
    --accent-2: var(--colors-electric-2);
    --accent-3: var(--colors-electric-3);
    --accent-4: var(--colors-electric-4);
    --accent-5: var(--colors-electric-5);
    --accent-6: var(--colors-electric-6);
    --accent-7: var(--colors-electric-7);
    --accent-8: var(--colors-electric-8);
    --accent-9: var(--colors-electric-9);
    --accent-alpha-1: var(--colors-electric-alpha-1);
    --accent-alpha-10: var(--colors-electric-alpha-10);
    --accent-alpha-11: var(--colors-electric-alpha-11);
    --accent-alpha-12: var(--colors-electric-alpha-12);
    --accent-alpha-2: var(--colors-electric-alpha-2);
    --accent-alpha-3: var(--colors-electric-alpha-3);
    --accent-alpha-4: var(--colors-electric-alpha-4);
    --accent-alpha-5: var(--colors-electric-alpha-5);
    --accent-alpha-6: var(--colors-electric-alpha-6);
    --accent-alpha-7: var(--colors-electric-alpha-7);
    --accent-alpha-8: var(--colors-electric-alpha-8);
    --accent-alpha-9: var(--colors-electric-alpha-9);
    --background-1: var(--support-bg-1);
    --background-2: var(--support-bg-2);
    --background-3: var(--support-bg-3);
    --background-4: var(--support-bg-4);
    --background-reverse-1: var(--support-bg-reverse-1);
    --background-reverse-2: var(--support-bg-reverse-2);
    --background-reverse-3: var(--support-bg-reverse-3);
    --background-reverse-4: var(--support-bg-reverse-4);
    --basic-black: var(--colors-basic-black);
    --basic-white: var(--colors-basic-white);
    --danger-1: var(--colors-geranium-1);
    --danger-10: var(--colors-geranium-10);
    --danger-11: var(--colors-geranium-11);
    --danger-12: var(--colors-geranium-12);
    --danger-2: var(--colors-geranium-2);
    --danger-3: var(--colors-geranium-3);
    --danger-4: var(--colors-geranium-4);
    --danger-5: var(--colors-geranium-5);
    --danger-6: var(--colors-geranium-6);
    --danger-7: var(--colors-geranium-7);
    --danger-8: var(--colors-geranium-8);
    --danger-9: var(--colors-geranium-9);
    --danger-alpha-1: var(--colors-geranium-alpha-1);
    --danger-alpha-10: var(--colors-geranium-alpha-10);
    --danger-alpha-11: var(--colors-geranium-alpha-11);
    --danger-alpha-12: var(--colors-geranium-alpha-12);
    --danger-alpha-2: var(--colors-geranium-alpha-2);
    --danger-alpha-3: var(--colors-geranium-alpha-3);
    --danger-alpha-4: var(--colors-geranium-alpha-4);
    --danger-alpha-5: var(--colors-geranium-alpha-5);
    --danger-alpha-6: var(--colors-geranium-alpha-6);
    --danger-alpha-7: var(--colors-geranium-alpha-7);
    --danger-alpha-8: var(--colors-geranium-alpha-8);
    --danger-alpha-9: var(--colors-geranium-alpha-9);
    --neutral-1: var(--colors-midnight-1);
    --neutral-10: var(--colors-midnight-10);
    --neutral-11: var(--colors-midnight-11);
    --neutral-12: var(--colors-midnight-12);
    --neutral-2: var(--colors-midnight-2);
    --neutral-3: var(--colors-midnight-3);
    --neutral-4: var(--colors-midnight-4);
    --neutral-5: var(--colors-midnight-5);
    --neutral-6: var(--colors-midnight-6);
    --neutral-7: var(--colors-midnight-7);
    --neutral-8: var(--colors-midnight-8);
    --neutral-9: var(--colors-midnight-9);
    --neutral-alpha-1: var(--colors-midnight-alpha-1);
    --neutral-alpha-10: var(--colors-midnight-alpha-10);
    --neutral-alpha-11: var(--colors-midnight-alpha-11);
    --neutral-alpha-12: var(--colors-midnight-alpha-12);
    --neutral-alpha-2: var(--colors-midnight-alpha-2);
    --neutral-alpha-3: var(--colors-midnight-alpha-3);
    --neutral-alpha-4: var(--colors-midnight-alpha-4);
    --neutral-alpha-5: var(--colors-midnight-alpha-5);
    --neutral-alpha-6: var(--colors-midnight-alpha-6);
    --neutral-alpha-7: var(--colors-midnight-alpha-7);
    --neutral-alpha-8: var(--colors-midnight-alpha-8);
    --neutral-alpha-9: var(--colors-midnight-alpha-9);
    --overlay-dark-1: var(--overlays-black-1);
    --overlay-dark-10: var(--overlays-black-10);
    --overlay-dark-11: var(--overlays-black-11);
    --overlay-dark-12: var(--overlays-black-12);
    --overlay-dark-2: var(--overlays-black-2);
    --overlay-dark-3: var(--overlays-black-3);
    --overlay-dark-4: var(--overlays-black-4);
    --overlay-dark-5: var(--overlays-black-5);
    --overlay-dark-6: var(--overlays-black-6);
    --overlay-dark-7: var(--overlays-black-7);
    --overlay-dark-8: var(--overlays-black-8);
    --overlay-dark-9: var(--overlays-black-9);
    --overlay-white-1: var(--overlays-white-1);
    --overlay-white-10: var(--overlays-white-10);
    --overlay-white-11: var(--overlays-white-11);
    --overlay-white-12: var(--overlays-white-12);
    --overlay-white-2: var(--overlays-white-2);
    --overlay-white-3: var(--overlays-white-3);
    --overlay-white-4: var(--overlays-white-4);
    --overlay-white-5: var(--overlays-white-5);
    --overlay-white-6: var(--overlays-white-6);
    --overlay-white-7: var(--overlays-white-7);
    --overlay-white-8: var(--overlays-white-8);
    --overlay-white-9: var(--overlays-white-9);
    --panel-1: var(--support-pn-1);
    --panel-2: var(--support-pn-2);
    --panel-3: var(--support-pn-3);
    --panel-4: var(--support-pn-4);
    --primary-1: var(--colors-violet-1);
    --primary-10: var(--colors-violet-10);
    --primary-11: var(--colors-violet-11);
    --primary-12: var(--colors-violet-12);
    --primary-2: var(--colors-violet-2);
    --primary-3: var(--colors-violet-3);
    --primary-4: var(--colors-violet-4);
    --primary-5: var(--colors-violet-5);
    --primary-6: var(--colors-violet-6);
    --primary-7: var(--colors-violet-7);
    --primary-8: var(--colors-violet-8);
    --primary-9: var(--colors-violet-9);
    --primary-alpha-1: var(--colors-violet-alpha-1);
    --primary-alpha-10: var(--colors-violet-alpha-10);
    --primary-alpha-11: var(--colors-violet-alpha-11);
    --primary-alpha-12: var(--colors-violet-alpha-12);
    --primary-alpha-2: var(--colors-violet-alpha-2);
    --primary-alpha-3: var(--colors-violet-alpha-3);
    --primary-alpha-4: var(--colors-violet-alpha-4);
    --primary-alpha-5: var(--colors-violet-alpha-5);
    --primary-alpha-6: var(--colors-violet-alpha-6);
    --primary-alpha-7: var(--colors-violet-alpha-7);
    --primary-alpha-8: var(--colors-violet-alpha-8);
    --primary-alpha-9: var(--colors-violet-alpha-9);
    --reverse-panel-1: var(--support-pn-reverse-1);
    --reverse-panel-2: var(--support-pn-reverse-2);
    --reverse-panel-3: var(--support-pn-reverse-3);
    --reverse-panel-4: var(--support-pn-reverse-4);
    --success-1: var(--colors-leaf-1);
    --success-10: var(--colors-leaf-10);
    --success-11: var(--colors-leaf-11);
    --success-12: var(--colors-leaf-12);
    --success-2: var(--colors-leaf-2);
    --success-3: var(--colors-leaf-3);
    --success-4: var(--colors-leaf-4);
    --success-5: var(--colors-leaf-5);
    --success-6: var(--colors-leaf-6);
    --success-7: var(--colors-leaf-7);
    --success-8: var(--colors-leaf-8);
    --success-9: var(--colors-leaf-9);
    --success-alpha-1: var(--colors-leaf-alpha-1);
    --success-alpha-10: var(--colors-leaf-alpha-10);
    --success-alpha-11: var(--colors-leaf-alpha-11);
    --success-alpha-12: var(--colors-leaf-alpha-12);
    --success-alpha-2: var(--colors-leaf-alpha-2);
    --success-alpha-3: var(--colors-leaf-alpha-3);
    --success-alpha-4: var(--colors-leaf-alpha-4);
    --success-alpha-5: var(--colors-leaf-alpha-5);
    --success-alpha-6: var(--colors-leaf-alpha-6);
    --success-alpha-7: var(--colors-leaf-alpha-7);
    --success-alpha-8: var(--colors-leaf-alpha-8);
    --success-alpha-9: var(--colors-leaf-alpha-9);
    --transparent-panels-1: var(--support-pn-transparent-1);
    --transparent-panels-10: var(--support-pn-transparent-10);
    --transparent-panels-11: var(--support-pn-transparent-11);
    --transparent-panels-12: var(--support-pn-transparent-12);
    --transparent-panels-2: var(--support-pn-transparent-2);
    --transparent-panels-3: var(--support-pn-transparent-3);
    --transparent-panels-4: var(--support-pn-transparent-4);
    --transparent-panels-5: var(--support-pn-transparent-5);
    --transparent-panels-6: var(--support-pn-transparent-6);
    --transparent-panels-7: var(--support-pn-transparent-7);
    --transparent-panels-8: var(--support-pn-transparent-8);
    --transparent-panels-9: var(--support-pn-transparent-9);
    --warning-1: var(--colors-sand-1);
    --warning-10: var(--colors-sand-10);
    --warning-11: var(--colors-sand-11);
    --warning-12: var(--colors-sand-12);
    --warning-2: var(--colors-sand-2);
    --warning-3: var(--colors-sand-3);
    --warning-4: var(--colors-sand-4);
    --warning-5: var(--colors-sand-5);
    --warning-6: var(--colors-sand-6);
    --warning-7: var(--colors-sand-7);
    --warning-8: var(--colors-sand-8);
    --warning-9: var(--colors-sand-9);
    --warning-alpha-1: var(--colors-sand-alpha-1);
    --warning-alpha-10: var(--colors-sand-alpha-10);
    --warning-alpha-11: var(--colors-sand-alpha-11);
    --warning-alpha-12: var(--colors-sand-alpha-12);
    --warning-alpha-2: var(--colors-sand-alpha-2);
    --warning-alpha-3: var(--colors-sand-alpha-3);
    --warning-alpha-4: var(--colors-sand-alpha-4);
    --warning-alpha-5: var(--colors-sand-alpha-5);
    --warning-alpha-6: var(--colors-sand-alpha-6);
    --warning-alpha-7: var(--colors-sand-alpha-7);
    --warning-alpha-8: var(--colors-sand-alpha-8);
    --warning-alpha-9: var(--colors-sand-alpha-9);
}